<div class="cocktail-options">
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
    <div class="btn btn-primary btn-lng">Add Ingredient</div>
  <% end %>

  <!-- <button id="sweet-alert-demo" class="btn btn-primary">test</button> -->

  <%= link_to cocktails_path do %>
    <div class="btn btn-primary btn-lng">Back</div>
  <% end %>

  <!-- <%= javascript_pack_tag 'application' %> -->
</div>
