<div class="cocktail-options">
  <%= link_to new_cocktail_dose_path(@cocktail) do %>
    <div class="btn btn-primary btn-lng">Add Ingredient</div>
  <% end %>

  <%= link_to cocktails_path do %>
    <div class="btn btn-primary btn-lng">Back</div>
  <% end %>
</div>
