<div class="cocktail-show-container">
<%= render 'cocktails/banner_show' %>
<%= render 'cocktails/cocktail_show_options' %>
<%= render 'cocktails/cocktail_show_ingredients' %>

<%= render 'doses/new' %>

</div>

