<!-- <div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-github"></i></a>
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin"></i></a>
  </div>
  <div class="footer-copyright">
    This footer is made with <i class="fa fa-heart"></i> at Le Wagon
  </div>
</div> -->

<footer class="mdl-mini-footer">
  <div class="mdl-mini-footer--left-section">
    <button class="mdl-mini-footer--social-btn social-btn social-btn__twitter">
      <span class="visuallyhidden">Twitter</span>
    </button>
    <button class="mdl-mini-footer--social-btn social-btn social-btn__blogger">
      <span class="visuallyhidden">Facebook</span>
    </button>
    <button class="mdl-mini-footer--social-btn social-btn social-btn__gplus">
      <span class="visuallyhidden">Google Plus</span>
    </button>
  </div>
  <div class="mdl-mini-footer--right-section">
    <button class="mdl-mini-footer--social-btn social-btn__share">
      <i class="material-icons" role="presentation">share</i>
      <span class="visuallyhidden">share</span>
    </button>
  </div>
</footer>
